.headerStyle {
  width: 100%;
  text-align: center;
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select {
    width: 250px;
  }
}

.icon {
  width: 20px;
}
